@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body {
    font: normal 16pt Tahoma;
    text-align: center;
    /*background-color: rgb(108, 204, 248);*/
    background-image: url("https://images.pexels.com/photos/209224/pexels-photo-209224.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    color: rgb(34, 34, 34);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header, footer {
    color: black;
    font-family: 'Indie Flower', cursive;
    font-size: 22pt;
}

section {
    background-color: white;
    width: 500px;
    border: 1px solid gray;
    box-shadow: 1px 1px 10px white;
    padding: 15px;
    overflow: auto;
}

.regrasJogo {
    font-size: 10pt;
}

.numeroUm, .numeroDois, .intervalo{
    width: 230px;
}

.textoErro {
    font-size: 10pt;
    font-weight: bolder;
    color: red;
}

.textoAcerto, .textoJogarNovamente {
    font-size: 11pt;
    color: rgba(34, 34, 34, 0.829);
}

.link {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.878);
    font-weight: bolder;
}

